<%= render 'shared/page_title', title: "Listagem de todos os artesanatos" %>

<div align="center">
<%= will_paginate %>
</div>
<%= render 'handcraft', obj: @handcrafts %>
<div align="center">
<%= will_paginate %>
</div>


