<div class= "jumbotron center">
<h1>Blog de Artesanato</h1>
<h2>Dicas de Artesanato em Geral</h1>
<p> <%= link_to "Inscreva-se!", signup_path, class: "btn btn-lg btn-xlarge" %> </p>
</div>>

 <!-- Example row of columns -->
 <div class="row">
    <div class="col-lg-4">
        <h2>A Origem do Artesanato</h2>
        <p style="text-align: justify;"> O processo de artesanato pressupõe que a matéria-prima seja moldada e mais de 80% da fabricação da peça seja feita manualmente por técnicas. Em outras palavras, quase todo o trabalho é feito por uma pessoa, que é responsável por todos os processos de produção da obra.
        <br> 
        O artesanato é um costume extremamente antigo, mas quantos anos ele tem? O artesanato surgiu no período Neolítico no período pré-histórico, que ocorreu por volta de 6.000 aC, ou seja, é realmente muito antigo. </p>
        <p><a class="btn btn-primary btn-xlarge" href="#" role="button">Ver mais &raquo;</a></p>
    </div>
    <div class="col-lg-4">
        <h2>Artesanato é Terapia</h2>
        <p style="text-align: justify;">Com confirmação de psicólogos a prática do artesanato ajuda no tratamento de pessoas com doenças como depressão, síndrome do pânico e ansiedade.
        <br>
        De acordo com a psicóloga Daniele Naconechny  “O artesanato ajuda na mudança de pensamento e percepção, principalmente para pessoas com síndrome do pânico. O indivíduo fica mais relaxado, pois se concentra na atividade.” </p>
        <br>
        <br>
        <p><a class="btn btn-primary btn-xlarge" href="#" role="button">Ver mais &raquo;</a></p>
    </div>
    <div class="col-lg-4">
        <h2>Artesanato Sustentável</h2>
        <p style="text-align: justify;">O artesanato e a reciclagem sempre andaram juntos, né? Preservação do meio ambiente e economia nos custos da produção são uns dos principais motivos. Esta técnica permite que você veja possibilidades em coisas que outras pessoas não enxergam, é ver o invisível, que às vezes está bem claro na sua frente.
        <br>
        A criação a partir de objetivos recicláveis é muito mais que uma arte é também sua conscientização com o meio ambiente.</p>
        <br>
        <p><a class="btn btn-primary btn-xlarge" href="#" role="button">Ver mais &raquo;</a></p>
    </div>
</div>