<%= render 'shared/page_title', title: "Artisan #{@artisan.name}'s Profile" %>
<div class="row">
  <div class="col-md-4 col-md-offset-4 center">
    <%= gravatar_for @artisan, size: 150 %>
  </div>
</div>

<h4 align="center"><%= @artisan.name %>'s handcrafts </h4>
<%= render 'handcrafts/handcraft', obj: @artisan.handcrafts %>