<!-- Site footer -->
    <footer class="footer">
    <small>
    <strong> <a href= "http://www.cursodeartesanato.com"> Curso de Artesanato em Geral </a></strong>
    by <em> <a href= "http://www.cursodeartesanato.com" > Vanessa Souza</a> </em>
    </small> 

    <nav>
    <ul>
        <li> <%= link_to "About", "#" %></li>
    </ul>
    </nav>

    </footer>